.title {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.cmd-window {
    display: block;
    margin: 0 25%;
    border-style: solid;
    border-width: 1px 1px;
    border-color: #D0D0D0;
    border-radius: 5px;
    background-color: #0e0c0c;
    box-shadow: 5px 5px 5px black;
    padding-bottom: 60px;
    padding-top: 5px;
}
